<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61701853821-47hcfnn6vab623uiv69rj2tebi4lpn07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61701853821-47hcfnn6vab623uiv69rj2tebi4lpn07</string>
	<key>API_KEY</key>
	<string>AIzaSyCijp9CmUnIjfWzE2kpjrOuNwAT35R9QCI</string>
	<key>GCM_SENDER_ID</key>
	<string>61701853821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riavera.miitv.publicdev</string>
	<key>PROJECT_ID</key>
	<string>mii-tv</string>
	<key>STORAGE_BUCKET</key>
	<string>mii-tv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61701853821:ios:eb689683de14520dfb5714</string>
	<key>DATABASE_URL</key>
	<string>https://mii-tv.firebaseio.com</string>
</dict>
</plist>